umap-learn
visdom
librosa
matplotlib>=3.3.0
numpy
scipy>=1.0.0
tqdm
sounddevice
SoundFile
Unidecode
inflect
PyQt5
multiprocess
numba
webrtcvad
pypinyin
flask
flask_wtf
flask_cors
gevent
flask_restx
tensorboard
streamlit
PyYAML
torch_complex
espnet
PyWavelets
monotonic-align==0.0.3
transformers
fastapi
loguru
typer[all]
click
