umap-learn
visdom
librosa
matplotlib>=3.3.0
numpy==1.19.3; platform_system == "Windows"
numpy==1.20.3; platform_system != "Windows"
scipy>=1.0.0
tqdm
sounddevice
SoundFile
Unidecode
inflect
PyQt5
multiprocess
numba
webrtcvad; platform_system != "Windows"
pypinyin==0.44.0
flask
flask_wtf
flask_cors
gevent
flask_restx
tensorboard
streamlit
PyYAML
torch_complex
espnet
PyWavelets
fastapi
loguru
click==8.0.4
typer
monotonic-align==1.0.0
transformers
